<!doctype html>
<html class="no-js" lang="fr">
<head>
  <meta charset="utf-8">
  <title>support</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>


<div id="app">
  <h1>Aide rapide</h1>
  <form>
    <label for="saisie">Décrivez simplement votre problème:</label>
    <input type="text" id="saisie" v-model="phrase" @input="rechercherReponse" />
  </form>
  <div v-if="reponses.length > 0">
    <h3>Réponses :</h3>
    <ul>
      <li v-for="(reponse, index) in reponses" :key="index">{{ reponse }}</li>
    </ul>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>

</script>
<script src='https://cdn.jsdelivr.net/npm/aos@2.3.0/dist/aos.js'></script>
<script>
  AOS.init();
</script>
</body>

</html>
